= table_for Collector::Email do |table|
  - table.rows(@collector.emails) do |row, email|
    - row.resource = email
  
    = row.column(:address)
    = row.column(:timestamp) { email.created_at.in_time_zone.to_s(:long) }
  
    = row.controls do |c|
      = c.delete
  
  - table.empty do
    No emails have been collected.
